.page__account-settings {
  .banner {
    background: $dark;

    h1 {
      color: $white;
    }
  }

  .form-group {
    margin-bottom: 0;
  }

  h6, .h6 {
    margin-bottom: .25rem;
  }

  .btn-link {
    line-height: 1.2;
    border: none;
    padding: 0;
    display: inline-block;
  }

  .jump-nav {
    @media (min-width: map-get($grid-breakpoints, "sm")) {
      padding-top: 1rem;
      position: sticky;
      top: 1rem;
    }

    >ul {
      border-radius: $border-radius-lg;
      background: $light-200;

      >li {
        margin-bottom: .7rem;

        &:last-child {
          margin-bottom: 0
        }
      }
    }
  }

  .section-heading {
    @extend .h2;
    margin-bottom: map-get($spacers, 4);
  }

  .account-section {
    // These properties together will shift the hashlink position
    padding-top: 1rem;

    >.pgn-transition-replace-group,
    >.form-group {
      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }

    &:not(:last-child) {
      margin-bottom: map-get($spacers, 3);
      padding-bottom: map-get($spacers, 3);
      border-bottom: 1px solid $light-300;
    }
  }

  .custom-switch {
    padding: 0;
    max-width: 500px;

    .custom-control-label {
      left: 2.25rem;
      line-height: 1.6rem;
    }
  }
  .grayed-out{
    opacity: 0.6; /* Real browsers */
    filter: alpha(opacity = 60); /* MSIE */
  }
}
